<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="technology.mainthread.apps.isitup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".IsItUpApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities -->
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http(s)://isitup.org” -->
                <data
                    android:host="isitup.org"
                    android:scheme="http" />

                <data
                    android:host="isitup.org"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "isitup://” -->
                <data android:scheme="isitup" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ResultActivity"
            android:label="@string/title_result"
            android:parentActivityName=".view.activity.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".view.activity.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>
        <!-- Activities -->

        <!-- Receivers -->
        <receiver android:name=".background.receiver.AlarmReceiver" />
        <receiver android:name=".background.receiver.JitterAlarmReceiver" />
        <receiver
            android:name=".background.receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Receivers -->

        <!-- Services -->
        <service
            android:name=".background.service.CheckerIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".background.service.IsItUpDashClockService"
            android:icon="@drawable/ic_stat_up_arrow"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/app_name" />
        </service>
        <!-- Services -->
    </application>

</manifest>
